<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    h1{
        text-align: center;
    }
    
    td{
        padding: 5px;
        margin: 5px;
    }
</style>
<body>
    <h1>Login here...</h1>
    <form action="/login" method="post">
        <table align="center" border="2">
            <tr>
                <td>Email</td>
                <td><input placeholder="Enter Email" type="text" name="email" required></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input placeholder="Enter Password" type="password" name="password" required></td>
            </tr>
            <tr>
                <td><input type="submit" value="Login"></td>
                <td><a href="/registerUser">Sign Up</a></td>
            </tr>
        </table>
    </form>
</body>
</html>